body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    text-align: left;
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin: 5px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#content, aside {
    width: 50%;
    float: left;
    padding: 20px;
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

aside {
    width: 40%;
    float: left;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 10px;
}

/* Media Queries for Tablet View */
@media (max-width: 768px) {

    .container{
        text-align: center;
    }

    #content, aside {
        width: 100%;
        float: none;
    }
}

/* Media Queries for Mobile View */
@media (max-width: 480px) {
    nav ul {
        text-align: center;
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    aside {
        width: 100%;
    }
}
